#myProgress {
    width: 100%;
    background-color: #ddd;
    margin: 10px;
}

#IndicadorIncorecto {
    width: 0%;
    height: 30px;
    background-color: red;
    text-align: center;
    line-height: 30px;
    color: white;
}

#IndicadorCorrecto {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
}